#main.container
  %h3.header New Review

  = link_to "Back to recipe", recipe_path(params[:recipe_id])
  = form_for @review, :method => "post", url: recipe_path(params[:recipe_id]) do |f|
    = render "review_form", f: f
    = f.submit "Create new review"
