#main.container
	%h3.header Add a New Recipe

	= form_for @recipe, :method => :post do |f|
		= render  "recipe_form", f: f
		= f.submit "Create a new recipe"

		= link_to "Back to recipes listing", recipes_path
