#main.container
    %h3.header Edit Your Profile

    =form_for current_user, :method => :put do |f|
        = f.label :image, "Upload a new profile picture"
        = f.file_field :image, :required => true
        %br
        = f.submit "Save Changes"
        %br
        = link_to "Back to user details", user_path(current_user)
