#main.container
    %h1.header Chief Details #{current_user.email}

    -# %h1.image= image_tag current_user.image.attached? ? current_user.image.variant(resize: "300x400^") : 'default_user.jpg'
    -# %h2.image= "Upload Chief Image"
    -if !current_user.image.attached?
        %h2=image_tag("default_user.jpg")
    -else 
        %h2=image_tag(current_user.image.variant(resize: "200x200^"))

    .row

    = link_to "Edit your profile picture", edit_user_path(current_user)
            
    = "#{current_user.username}"

