#main.container
  %h3.header New Review

  = link_to "Back to recipe", recipe_path(@recipe)
  = form_for [@recipe, @review], :method => :post do |f|
    = render "review_form", f: f
    .button= f.submit "Create new review"

-# , :url => {:controller => "recipes", :recipe_id => params[:recipe_id]}
-# , recipe_reviews_path(params[:recipe_id])
